#about-masthead {
    background: linear-gradient( rgba(0, 0, 0, 0.30),
    rgba(0, 0, 0, 0.30)),
    url("../img/teams/vision.jpg");
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#events-masthead {
    background: linear-gradient( rgba(0, 0, 0, 0.30),
    rgba(0, 0, 0, 0.30)),
    url("../img/teams/cerberus.jpg");
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#apply-masthead {
    background: linear-gradient( rgba(0, 0, 0, 0.30),
    rgba(0, 0, 0, 0.30)),
    url("../img/teams/sporks.jpg");
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#dpo-masthead {
    background: linear-gradient( rgba(0, 0, 0, 0.30),
    rgba(0, 0, 0, 0.30)),
    url("../img/dpo.png");
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#frame {
    width: 800px;
    margin: auto;
}

.db-logo {
    margin: 1rem;
    height: 4rem;
    width: 4rem;
}

.heart {
    background-color: red;
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 10px;
}

.heart:before,
.heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
}

.heart:before {
    top: -5px;
    left: 0;
}

.heart:after {
    left: 5px;
    top: 0;
}