{% extends "layout.njk" %} {% block content %}
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><!-- Foundations Choreography -->&nbsp;</div>
            <div class="intro-heading"><!-- Beginners Dance Team -->&nbsp;</div>
            {# <a class="btn btn-xl js-scroll-trigger" href="#services">Build Yourself!</a> #}
            <br>
            <br>
        </div>
    </div>
</header>
<section>
    <div class="container">
        {% include '../templates/partials/campuscurlz.njk' %}
    </div>
</section>

{% endblock %}