{% extends "layout.njk" %} {% block content %}
<!-- Header -->
<header class="masthead" id="dpo-masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">ASU Looking Back</div>
            <div class="intro-lead-in">By Andrea Henthorn</div>
            <br>
            <br>
        </div>
    </div>
</header>
<section>
    <div class="container">
        {% include '../templates/partials/asu.njk' %}
    </div>
</section>

{% endblock %}