{% extends "layout.njk" %} {% block content %}
<!-- Header -->
<header class="masthead" id="students-masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Student Voices</div>
            <div class="intro-lead-in">By Meghan Hodges and Andrea Henthorn</div>
            <br>
            <br>
        </div>
    </div>
</header>
<section>
    <div class="container">
        {% include '../templates/partials/students.njk' %}
    </div>
</section>

{% endblock %}