<div class="row">
<div class="col-lg-12 text-center">
<div style="text-align: left;">
<h3>UCLA administration has failed to address demands from the Afrikan Student Union</h3>
<br>
<p>
The Afrikan Student Union has released two sets of demands for UCLA in the last five years, most of which have not been fulfilled by university administrators.
</p><p>
The demands, made in 2015 and 2017, address changes ASU leaders believe administrators should implement at UCLA to improve campus life for black students.
</p><p>
The release of both sets of demands correlated with campus events  many students said were hostile to the black community at UCLA.
</p><p>
The most recent list of demands called on UCLA to create a Black Resource Center and a $40 million endowment to address African-American underrepresentation on campus.
</p><p>
The demands were released in 2017, two weeks after a picture circulated on social media of Danny Siegel, the 2016 to 2017 Undergraduate Students Association Council president, posing with the hand sign of a primarily African American street gang called the Bloods.
</p><p>
Alicia Frison, the 2016 to 2017 ASU chairperson, clarified at the time the demands were released that the organization had been preparing the demands throughout the year, but  decided to release them in response to repeated racially charged events, not solely because of Siegel’s photo.
</p><p>
UCLA has not created the resource center, nor the $40 million endowment.
</p><p>
In 2015, ASU published a list of demands in an open letter in NOMMO magazine in response to the “Kanye Western”-themed party hosted by the Sigma Phi Epsilon fraternity and Alpha Phi sorority, in which guests wore baggy clothes and some covered their foreheads in charcoal.
</p><p>
ASU leaders demanded UCLA administrators develop annual funding for black student programming and a $30 million endowment to financially support black students.
</p><p>
These demands, similar to those released by ASU in 2017, were not fulfilled by the university.
</p><p>
In both lists of demands, ASU highlighted other universities, such as UC Berkeley and UC Santa Barbara, which they said served as examples of efforts to improve campus climate for black students.
</p>
<img class="img-fluid center" src="img/dpodata.png">
<p>
UC Berkeley’s African American Initiative includes a $20 million endowed scholarship that will first be awarded to a group of African American students in fall 2018. ASU cited the Berkeley endowment to demonstrate the feasibility of UCLA allocating similar funding.
</p><p>
The 2015 to 2016 Daily Bruin Editorial Board released an article in October 2015 arguing that UCLA administrators can do more to meet the 2015 ASU list of demands.
</p><p>
The board said some goals, such as the endowment, could not be achieved immediately. However, it added that other requests, such as the creation of a student advisory board for Jerry Kang, the vice chancellor of equity, diversity and inclusion, could be met quickly to foster collaboration between students and administrators.
</p><p>
The board also suggested that UCLA Chancellor Gene Block should meet with ASU leadership.
</p><p>
“Reading the list of demands and issuing a written response is one thing; an in-person discussion, in which the administration embraces the stories of black students and does not go on the defensive, is another entirely,” the article said.
</p><p>
However, this meeting did not occur.
</p><p>
The UCLA chapter of ASU has formed in 1966.Measures ASU has taken to support black students  include advocating for programs such as the Academic Advancement Program, the Academic Support Program and the Freshmen Summer Program, which are designed to help first-generation, minority students. ASU also aided the development of the Center for African American Studies in 1969, now  the Ralph J. Bunche Center for African American Studies.
</p><p>
There are 1,623 African American/Black undergraduate students enrolled at UCLA according to UCLA Admissions as of fall 2017, which is about five percent of the total undergraduate student population. There were 1,485 African-American undergraduate students at UCLA in May 2017.
</p><p>
"The university must do all it can to make sure that Black students, only 4% of the student body, feel welcomed and safe at the university that was built on our backs," ASU's 2015 statement said.
</p><p>
The Daily Bruin contacted multiple ASU leaders. None were available for comment.
</p>
</div>
</div>
</div>