<div class="row">
<div class="col-lg-12 text-center">
<div style="text-align: justify;">
<p>
Mika Foster said she was raised to be racially color blind, but when she came to UCLA as a multiracial black , Japanese and white student, she experienced color shock.
</p><p>
“As much as we don’t want to see color, and as much as we want to be color blind , you just can’t do that because then you’re going to have an identity crisis, which is what I had,” Foster said. “In college, you’re literally defined by your color.”
</p><p>
Foster, a fourth-year sociology student with a minor in education, said her color shock stemmed from an inability to determine where she belonged. She said she joined clubs, such as the Afrikan Student Union , and associated with other black students, but still questioned her identity because of her mixed ethnicity.
</p><p>
“People kind of separate based on (racial) groups,” she said. “(When I joined ASU), I felt it was so pro-black it became anti-white, and I feel like I couldn’t do that because of my mom’s background.”
</p><p>
Foster added she doesn’t know that she’ll ever be able to understand her identity outside of a racial perspective.
</p><p>
“Everything is centered on race,” she said. “It’s hard to escape it when you are black, because you feel like you have to be offended by certain things that offend other black people.”
</p><p>
She said oftentimes, instances of discrimination or microaggressions on campus are a consequence of ignorance. 
</p><p>
“While I don’t blame them for happening, it’s still like we have to hold you accountable,” she said. “There’s certain things we know you don’t mean to say, but you still say (them).”
</p><p>
Foster has also experienced racial discrimination at UCLA. As a freshman, Foster said she and other students from the Freshman Summer Program , attended a fraternity party where non-black students sang along to a song that included the N-word .
</p><p>
She said one of the students from FSP called out a group of women who sang along to the song, and started an argument. The situation escalated to the point that members of the fraternity called the police.
</p><p>
“They were yelling and telling us to get out,” Foster said. “The police came, and mind you, this entire time, the girls are throwing their drinks off the balcony at us, throwing food off of the balcony, using the N-word  freely (toward us).”
</p><p>
The police arrived, told her group to move off the sidewalk and suggested they leave to de-escalate the situation. When she asked the officer if the students in the fraternity would be reprimanded, she said he replied that they did nothing wrong.

Foster said she and her friends never reported the incident as they didn’t think anything would happen.
</p><p>
She added while she has been at UCLA, she believes the institution has adequately handled major race-related  incidents while she has been a student, including the blackface party  in 2015.
</p><p>
“There’s only so much the institution can do about microaggressions” Foster said. “Any school you go to is going to be like this.”
</p>
></div>
</div>
</div>